<mat-card>
  <mat-form-field>
    <mat-select placeholder="Favorite animal"
                [(ngModel)]="selectValue" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let animal of animals" [value]="animal.name">
        {{animal.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
    <mat-hint>{{animalControl.value?.sound}}</mat-hint>
  </mat-form-field>
  <div>{{selectValue}}</div>
</mat-card>

