<!--The content below is only a placeholder and can be replaced.-->
<button mat-raised-button routerLink='/autocomplete'>Autocomplete</button>
<button mat-raised-button routerLink='/rxjs'>Rxjs</button>
<button mat-raised-button routerLink='/checkBox'>CheckBox</button>
<button mat-raised-button routerLink='/datepicker'>Datepicker</button>
<button mat-raised-button routerLink='/table/fromHttp'>tableHttp</button>
<button mat-raised-button routerLink='/table/spf'>tableSPF</button>
<button mat-raised-button routerLink='/chips'>Chips</button>
<button mat-raised-button routerLink='/dialog'>Dialog</button>
<button mat-raised-button routerLink='/select'>Select</button>
<button mat-raised-button routerLink='/tabs'>Tabs</button>
<button mat-raised-button routerLink='/progress'>Progress</button>
<button mat-raised-button routerLink='/regExp'>RegExp</button>
<button mat-raised-button routerLink='/menu'>Menu</button>

<mat-card>
<router-outlet></router-outlet>
</mat-card>
