<!--The content below is only a placeholder and can be replaced.-->
<button mat-raised-button routerLink='/autocomplete'>Autocomplete</button>
<button mat-raised-button routerLink='/rxjs'>Rxjs</button>
<button mat-raised-button routerLink='/checkBox'>CheckBox</button>
<button mat-raised-button routerLink='/datepicker'>Datepicker</button>
<button mat-raised-button routerLink='/table/fromHttp'>tableHttp</button>
<button mat-raised-button routerLink='/table/spf'>tableSPF</button>
<button mat-raised-button routerLink='/chips'>Chips</button>
<router-outlet></router-outlet>
