/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.datepicker-item-readonly.mat-form-field .mat-form-field-underline {
  background-image: linear-gradient(to right, rgba(0, 0, 0, .42) 0, rgba(0, 0, 0, .42) 33%, transparent 0);
  background-size: 4px 1px;
  background-repeat: repeat-x;
}

.datepicker-item-readonly.mat-form-field .mat-form-field-underline {
  background-position: 0;
  background-color: transparent;
}

// .mat-form-field-disabled .mat-form-field-underline {
//   background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 33%, transparent 0%);
//   background-size: 4px 1px;
//   background-repeat: repeat-x;
// }

// .datepicker-item-readonly.mat-form-field .mat-form-field-underline {
//   background-position: 0;
//   background-color: transparent;
// }
